* {
  list-style-type: none;
}

:root {
  --primary-color: rgb(2, 0, 36);
  --secondary-color: rgb(13, 0, 48);
  --tertiary-color: rgba(0, 212, 255, 1);
  --text-color: rgb(221, 221, 221);
}

body {
  font-family: Arial, sans-serif;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(247, 247, 239);
}

h1 {
  color: rgb(223, 220, 220);
  text-align: center;
}

h2 {
  color: rgb(223, 220, 220);;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
}

input,
select,
button {
  font-size: 16px;
  padding: 10px;
}

button {
  background-color: var(--tertiary-color);
  color: rgb(2, 0, 36);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  margin: 5px;
}

/* button:hover {
  background-color: var(--secondary-color);
} */

ul {
  list-style-type: none;
  padding: 0;
  color: rgb(111, 111, 111);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(221, 221, 221);
}

li {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

li:last-child {
  border-bottom: none;
}

.main {
  display: flex;
  height: 100vh;
  width: auto;
  background: var(--primary-color);
}

.hero {
  width: auto;
  height: auto;
  display: block;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(13, 0, 48, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.hero input {
  width: 300px;
  height: 30px;
}

.input-container {
 display: block;
 height: auto;
 width: 600px;
}

.banned-countries {
  height: 42%;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: rgb(231, 231, 231);
  color: rgb(244, 87, 87);
  padding: 20px;
}

.banned-countries h2 {
  color: rgb(244, 87, 87);
  text-align: center;
}

.banned-countries li {
  height: 40px;
  width: 200px;;
  color: rgb(244, 87, 87);
}

.banned-countries input {
  height: 10px;
  width: 100px;
}

.banned-countries button {
  background-color: rgb(160, 157, 226);
}

.valid-cards {
  display: inline;
  height: auto;
  width: 420px;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}



@media (max-width: 600px) {
  form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  input,
  select,
  button {
    width: 100%;
    box-sizing: border-box;
  }
}